:root {
  --bg-dim: #1E2326;
  --bg-0: #272E33;
  --bg-1: #2E383C;
  --bg-2: #374145;
  --bg-3: #414B50;
  --bg-4: #495156;
  --bg-5: #4F5B58;
  --bg-red: #4C3743;
  --bg-visual: #493B40;
  --bg-yellow: #45443C;
  --bg-green: #3C4841;
  --bg-blue: #384B55;

  --gray-0: #7A8478;
  --gray-1: #859289;
  --gray-2: #9DA9A0;
  --fg: #D3C6AA;
  --red: #E67E80;
  --orange: #E69875;
  --yellow: #DBBC7F;
  --green: #A7C080;
  --blue: #7FBBB3;
  --aqua: #83C092;
  --purple: #D699B6;
}

/* --- Global Styling --- */
* {
  font-size: 12px;
  color: var(--gray-2);
  font-family: "JetBrainsMono NF";
  font-weight: 900;
}

.yasb-bar {
  background-color: var(--bg-0);
  padding: 0 4px;
}

.widget {
  margin: 8px;
}

.icon {
  font-size: 14px;
}

.tooltip {
  background-color: var(--bg-0);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-family: "JetBrainsMono NF";
  color: var(--gray-2);
  font-weight: 700;
}

/* --- Separator --- */
.separator {
  margin: 8px 0;
}

/* --- GlazeWM Workspaces --- */
.glazewm-workspaces .ws-btn {
  border: none;
  padding: 4px 6px;
  background: var(--bg-2);
}

.glazewm-workspaces .ws-btn:hover {
  background: var(--bg-4);
}

.glazewm-workspaces .ws-btn.active_empty,
.glazewm-workspaces .ws-btn.active_populated {
  color: var(--bg-dim);
  background: var(--green);
}

.glazewm-workspaces .offline-status {
  color: var(--red);
}

/* --- Media --- */
.media-widget {
  background-color: var(--bg-2);
}

.media-widget .label {
  padding: 0 8px;
  color: var(--purple);
}

.media-menu {
  background-color: var(--bg-0);
  min-width: 440px;
  max-width: 440px;
}

.media-menu .title,
.media-menu .artist {
  margin-left: 16px;
}

.media-menu .title {
  font-weight: 800;
  font-size: 14px;
  color: var(--purple);
}

.media-menu .artist {
  font-weight: 600;
  margin-top: 0;
  color: var(--gray-0);
}

.media-menu .btn {
  margin-top: 12px;
  padding: 8px;
  font-size: 20px;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

.media-menu .btn:hover {
  background-color: var(--bg-visual);
}

.media-menu .btn.prev {
  margin-left: 16px;
}

.media-menu .btn.play {
  margin-left: 8px;
  margin-right: 8px;
  color: var(--purple);
  background-color: var(--bg-visual);
}

.media-menu .btn.play:hover {
  color: var(--bg-dim);
  background-color: var(--purple);
}

.media-menu .playback-time {
  margin-top: 16px;
}

.media-menu .progress-slider {
  height: 10px;
  margin: 5px 4px;
  border-radius: 3px;
}

.media-menu .progress-slider::groove {
  background: transparent;
  height: 2px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);

}

.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
}

.media-menu .progress-slider::sub-page {
  background: var(--purple);
  border-radius: 3px;
  height: 4px;
}

/* --- Clock --- */
.clock-widget .label {
  /* color: var(--green); */
}

/* --- Systray --- */
.systray .unpinned-container {
  background-color: transparent;
  border-left: none;
}

.systray .button {
  padding-left: 4px;
  border: none;
}

.systray .unpinned-visibility-btn {
  background-color: transparent;
  color: var(--gray-2);
  border: none;
  padding: 0 4px;
}

.systray .unpinned-visibility-btn:hover {
  background-color: var(--bg-5);
}

.systray .unpinned-visibility-btn:checked {
  color: var(--gray-2);
  background-color: transparent;
}

.systray .unpinned-visibility-btn:checked:hover {
  background-color: var(--bg-4);
}

/* --- Wifi | Menu --- */
.wifi-widget {
  background-color: var(--bg-2);
  margin-right: 0;
}

.wifi-widget .widget-container .icon {
  color: var(--green);
  padding: 0 4px;
}

.wifi-widget .widget-container .label {
  color: var(--green);
  padding-right: 4px;
}

.wifi-menu {
  max-height: 350px;
  min-height: 375px;
  min-width: 350px;
  background-color: var(--bg-0);
}

.wifi-menu .header {
  background-color: var(--bg-0);
  color: var(--green);
  font-size: 18px;
  padding: 12px 0 8px 8px;
  font-weight: 800;
  border-bottom: 2px solid var(--gray-0);
}

.wifi-menu .progress-bar {
  max-height: 4;
}

.wifi-menu .progress-bar::chunk {
  background-color: var(--green);
}

.wifi-menu .error-message {
  font-weight: 800;
  color: var(--bg-dim);
  background-color: var(--red);
}

.wifi-menu .wifi-list {
  background-color: var(--bg-0);
  padding: 8px 12px;
}

.wifi-menu .wifi-item {
  padding: 8px 12px;
  margin: 4px 0;
}

.wifi-menu .wifi-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.wifi-menu .wifi-item .icon {
  margin-right: 4px;
  font-size: 24px;
  color: var(--gray-0);
}

.wifi-menu .wifi-item .name {
  font-size: 12px;
  font-weight: 800;
  padding-right: 4px;
  color: var(--gray-0);
}

.wifi-menu .wifi-item .password {
  background: transparent;
  font-size: 12px;
  border: none;
  border-bottom: 2px solid var(--gray-2);
}

.wifi-menu .wifi-item .status,
.wifi-menu .wifi-item .strength {
  margin-bottom: 4px;
  color: var(--gray-0);
  font-weight: 600;
}

.wifi-menu .wifi-item .connect {
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  color: var(--green);
  background-color: var(--bg-green);
  padding: 8px 12px;
}

.wifi-menu .wifi-item .connect:hover {
  color: var(--bg-dim);
  background-color: var(--green);
}

.wifi-menu .wifi-item[active=true] {
  background-color: rgba(255, 255, 255, 0.05);
}

.wifi-menu .wifi-item[active=true] .icon,
.wifi-menu .wifi-item[active=true] .name,
.wifi-menu .wifi-item[active=true] .status,
.wifi-menu .wifi-item[active=true] .strength {
  color: var(--green);
}

.wifi-menu .wifi-item[active=true] .connect {
  color: var(--red);
  background-color: var(--bg-red);
}

.wifi-menu .wifi-item[active=true] .connect:hover {
  color: var(--bg-dim);
  background-color: var(--red);
}


.wifi-menu .footer {
  background-color: var(--bg-0);
  padding: 8px 0;
}

.wifi-menu .footer .settings-button {
  background-color: transparent;
  border: none;
  min-width: 26px;
  min-height: 26px;
  font-weight: 500;
  color: var(--gray-1);
  padding: 0 20px;
}

.wifi-menu .footer .settings-button:hover {
  color: var(--green);
  text-decoration: underline;
  font-weight: 700;
}

.wifi-menu .footer .refresh-icon {
  font-family: "Segoe Fluent Icons";
  background-color: transparent;
  border: none;
  padding: 8px;
  margin-right: 16px;
  color: var(--gray-1);
}

.wifi-menu .footer .refresh-icon:hover {
  color: var(--green);
  background-color: var(--bg-green);
  border-radius: 8px;
}

/* --- Volume | Audio Menu --- */
.volume-widget {
  margin-left: 0;
  margin-right: 0;
  background-color: var(--bg-2);
}

.volume-widget .icon {
  color: var(--red);
  padding: 0 4px;
}

.volume-widget .label {
  color: var(--red);
  padding-right: 4px;
}

.volume-widget .icon.muted,
.volume-widget .label.muted {
  color: var(--gray-0);
}

.audio-menu {
  background-color: var(--bg-0);
}

.audio-container .device {
  background-color: transparent;
  border: none;
  padding: 6px 8px;
  margin: 2px 0;
  font-size: 12px;
}

.audio-container .device.selected {
  background-color: var(--bg-2);
  color: var(--red);
}

.audio-container .device:hover {
  background-color: var(--bg-2);
}

/* --- Battery --- */
.battery-widget {
  background-color: var(--bg-2);
  margin-left: 0;
}

.battery-widget .widget-container .icon {
  padding: 0 4px;
}

.battery-widget .widget-container .label {
  padding-right: 4px;
}

.battery-widget .widget-container .icon.status-low,
.battery-widget .widget-container .label.status-low {
  color: var(--red);
}

.battery-widget .widget-container .icon.status-medium,
.battery-widget .widget-container .label.status-medium {
  color: var(--yellow);
}

.battery-widget .widget-container .icon.status-high,
.battery-widget .widget-container .label.status-high {
  color: var(--aqua);
}

.battery-widget .widget-container .icon.status-full,
.battery-widget .widget-container .label.status-full,
.battery-widget .widget-container .icon.status-charging,
.battery-widget .widget-container .label.status-charging {
  color: var(--blue);
}

/* --- Notifications --- */
.notification-widget {
  background: var(--bg-2);
}

.notification-widget .icon {
  padding: 0 6px 0 4px;
}

.notification-widget .icon.new-notification {
  color: var(--bg-dim);
  background: var(--green);
}
