:root {
  --bg-dim: #1E2326;
  --bg-0: #272E33;
  --bg-1: #2E383C;
  --bg-2: #374145;
  --bg-3: #414B50;
  --bg-4: #495156;
  --bg-5: #4F5B58;
  --bg-red: #4C3743;
  --bg-visual: #493B40;
  --bg-yellow: #45443C;
  --bg-green: #3C4841;
  --bg-blue: #384B55;

  --gray-0: #7A8478;
  --gray-1: #859289;
  --gray-2: #9DA9A0;
  --fg: #D3C6AA;
  --red: #E67E80;
  --orange: #E69875;
  --yellow: #DBBC7F;
  --green: #A7C080;
  --blue: #7FBBB3;
  --aqua: #83C092;
  --purple: #D699B6;
}

/* --- Global Styling --- */
* {
  font-size: 12px;
  color: var(--gray-2);
  font-family: "JetBrainsMono NF";
  font-weight: 900;
}

.yasb-bar {
  background-color: var(--bg-0);
  padding: 0 4px;
}

.widget {
  margin: 8px;
}

.icon {
  font-size: 14px;
}

.tooltip {
  background-color: var(--bg-0);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-family: "JetBrainsMono NF";
  color: var(--gray-2);
  font-weight: 700;
}

/* --- Separator --- */
.separator {
  margin: 8px 0;
}

/* --- GlazeWM Workspaces --- */
.glazewm-workspaces .ws-btn {
  border: none;
  padding: 4px 6px;
  background: var(--bg-2);
}

.glazewm-workspaces .ws-btn:hover {
  background: var(--bg-3);
}

.glazewm-workspaces .ws-btn.active_empty,
.glazewm-workspaces .ws-btn.active_populated {
  color: var(--bg-dim);
  background: var(--green);
}

.glazewm-workspaces .offline-status {
  color: var(--red);
}

/* --- Media --- */
.media-widget {
  background-color: var(--bg-1);
}

.media-widget .label {
  padding: 0 8px;
  color: var(--purple);
}

.media-menu {
  background-color: var(--bg-0);
  min-width: 440px;
  max-width: 440px;
  border: 1px solid var(--bg-3);
}

.media-menu .title,
.media-menu .artist {
  margin-left: 16px;
}

.media-menu .title {
  font-weight: 800;
  font-size: 14px;
  color: var(--purple);
}

.media-menu .artist {
  font-weight: 600;
  margin-top: 0;
  color: var(--gray-0);
}

.media-menu .btn {
  margin-top: 12px;
  padding: 8px;
  font-size: 20px;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

.media-menu .btn:hover {
  background-color: var(--bg-visual);
}

.media-menu .btn.prev {
  margin-left: 16px;
}

.media-menu .btn.play {
  margin-left: 8px;
  margin-right: 8px;
  color: var(--purple);
  background-color: var(--bg-visual);
}

.media-menu .btn.play:hover {
  color: var(--bg-dim);
  background-color: var(--purple);
}

.media-menu .playback-time {
  margin-top: 16px;
}

.media-menu .progress-slider {
  height: 10px;
  margin: 5px 4px;
  border-radius: 3px;
}

.media-menu .progress-slider::groove {
  background: transparent;
  height: 2px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);

}

.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
}

.media-menu .progress-slider::sub-page {
  background: var(--purple);
  border-radius: 3px;
  height: 4px;
}

/* --- Clock --- */
.clock-widget .label {
  color: var(--green);
}

/* --- Systray --- */
.systray .unpinned-container {
  background-color: transparent;
  border-left: none;
}

.systray .button {
  padding-left: 4px;
  border: none;
}

.systray .unpinned-visibility-btn {
  background-color: transparent;
  color: var(--gray-2);
  border: none;
  padding: 0 4px;
}

.systray .unpinned-visibility-btn:hover {
  background-color: var(--bg-5);
}

.systray .unpinned-visibility-btn:checked {
  color: var(--gray-2);
  background-color: transparent;
}

.systray .unpinned-visibility-btn:checked:hover {
  background-color: var(--bg-4);
}

/* --- Volume | Audio Menu --- */
.volume-widget {
  margin-right: 0;
  padding: 0 4px 0 6px;
  background-color: var(--bg-1);
}

.volume-widget .label {
  color: var(--red);
  padding-left: 4px;
}

.volume-widget .icon.muted,
.volume-widget .label.muted {
  color: var(--gray-0);
}

.audio-menu {
  background-color: var(--bg-0);
  border: 1px solid var(--bg-3);
}

.audio-container .device {
  background-color: transparent;
  border: none;
  padding: 6px 8px;
  margin: 2px 0;
  font-size: 12px;
}

.audio-container .device.selected {
  background-color: var(--bg-2);
  color: var(--red);
}

.audio-container .device:hover {
  background-color: var(--bg-2);
}

.audio-menu .toggle-apps {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  min-height: 24px;
  min-width: 24px;
  border-radius: 4px;
}

.audio-menu .toggle-apps.expanded {
  background-color: rgba(255, 255, 255, 0.1);
}

.audio-menu .toggle-apps:hover {
  background-color: rgba(255, 255, 255, 0.15);

}

/* Container for application volumes (if is enabled) */
.audio-menu .apps-container {
  padding: 8px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.062)
}

.audio-menu .apps-container .app-volume .app-icon-container {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 6px;
  margin-right: 8px;
}

.audio-menu .apps-container .app-volume .app-slider {
  min-height: 40px;
  max-height: 40px;
}

.audio-menu .apps-container .app-volume .app-icon-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* --- Battery --- */
.battery-widget {
  background-color: var(--bg-1);
  padding: 0 6px 0 8px;
  margin-left: 0;
}

.battery-widget .widget-container .label {
  padding-left: 4px;
}

.battery-widget .widget-container .icon.status-low,
.battery-widget .widget-container .label.status-low {
  color: var(--red);
}

.battery-widget .widget-container .icon.status-medium,
.battery-widget .widget-container .label.status-medium {
  color: var(--yellow);
}

.battery-widget .widget-container .icon.status-high,
.battery-widget .widget-container .label.status-high {
  color: var(--blue);
}

.battery-widget .widget-container .icon.status-full,
.battery-widget .widget-container .label.status-full,
.battery-widget .widget-container .icon.status-charging,
.battery-widget .widget-container .label.status-charging {
  color: var(--green);
}

/* --- Notifications --- */
.notification-widget {
  background-color: var(--bg-1);
}

.notification-widget .icon {
  padding: 0 4px 0 6px;
  color: var(--gray-0);
}

.notification-widget .label {
  padding-right: 6px;
  color: var(--gray-0);
}

.notification-widget .icon.new-notification,
.notification-widget .label.new-notification {
  color: var(--green);
  background-color: var(--bg-green);
}
